@model ocassion.Models.LoginVM

@{
    ViewBag.Title = "_Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>


</head>
<body>

    <div class="login_sec">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Login</li>
            </ol>
            <h2>Login</h2>

            <div class="col-md-6 log">
                <p>Welcome, please enter the folling to continue.</p>
                <p>If you have previously Login with us, <span>click here</span></p>
                @{ Html.EnableClientValidation(); }
                
                @ViewBag.msg

                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    <form>
                        <h5>Username:</h5>
                        @Html.TextBoxFor(model => model.login.Email, new { placeholder = "User Name" })
                        @Html.ValidationMessageFor(a => a.login.Email)

                        <h5>Password:</h5>
                        @Html.PasswordFor(model => model.login.password, new { placeholder = "Password" })
                        @Html.ValidationMessageFor(a => a.login.password)

                        <input type="submit" value="Login">
                        <a class="acount-btn" href="account.html">Create an Account</a>

                    </form>
                }

                <label class="inline">
                    <a href="#">Forgot Password ?</a>

                    <input type="checkbox" />
                    <span class="lbl"> Remember Me</span>
                </label>

            </div>


            <div class="clearfix">

            </div>
        </div>
    </div>
    <!---->
    <div class="shoping">
        <div class="container">
            <div class="shpng-grids">
                <div class="col-md-4 shpng-grid">
                    <h3>Free Shipping</h3>
                    <p>On Order Over Rs 999</p>
                </div>
                <div class="col-md-4 shpng-grid">
                    <h3>Order Return</h3>
                    <p>Return Within 14days</p>
                </div>
                <div class="col-md-4 shpng-grid">
                    <h3>COD</h3>
                    <p>Cash On Delivery</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!---->

</body>
</html>
